*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden{
  display:none;
}
.main{
  left: 0;
  right: 0;
  margin-top: 30px;
  position : absolute;
  text-align: center;
}
.main>div{
  transition:0.5s all;
}
.main>div:hover{
  top: 50px;
  transform:translateY(-50%);
}
#locationBlack{
  margin-left:20px;
}
#locateImg{
  display: block;
  width: 15px;
  height: 25px;

}
#location{
  text-align:left;
  color:white;
  margin-left:25px;
}
#login-form input{
  border: none;
  outline : none;
  background : none;
  font-size : 20px;
  text-align: center;
  color: ivory;

}
#login-form input::placeholder{
  color:slategray;   
}
#greeting{
  color:ivory;
}
#clock{
  text-align: center;
  font-size: 100px;
  color:ivory;
}
#todo-form input{
  margin : 30px;
  padding : 5px 20px;
  border : none;
  outline : none;
  background: none;
  border-bottom: 1px solid white;
  border-top : 1px solid white;
  font-size:30px;
  color: ivory;
  text-align: center;
  width: 450px;
}
#todo-form input::placeholder{
  color:white;
}
#todo-list{
  margin: 34px;
}
#todo-list li{
  margin: 8px;
}
#todo-list li span{
  color:white;
  font-size: 15px;
}
#todo-list li button{
  margin-left:5px;
  outline: 0;
  border: 0;
  background: none;
  font-size:15px;
}
#quote span{
  margin-top : 40px;
  color:white;
  /* transition: 0.5s all; */
}
#quote #quotes{
  display : block;
  font-size:30px;
}
#quote #author{
  font-size: 15px;
}
#weather { 
  margin-top: 155px;
  font-size: 20px;
  color: ivory;

}
#background-layer{
  /* z-index: -1; */
  position : absolute;
  width: 100%;
  height : 100%;
  background-color: black;
  opacity: 0.5;
}
img{
  object-fit: cover;
  z-index: -1;
  position:absolute;
  width: 100%;
  height: 100%;
}
